/* Добавление переменных */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-backgroung: #2f303a;
  --main-backgroung: #ffffff;
  --light-background: #f5f4fa;
  --light-icons: #afb1b8;
  --button-active: #188ce8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------- */

/* Описание общих правил */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-backgroung);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* ------------------------- */

/* Описание стилей хедера */

.page-header,
.page-header__container,
.page-header__havigation,
.page-header__pages,
.page-header__contacts {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__logofirstpart {
  padding-top: 24px 0px 25px 0px;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-text-color);
  margin-right: 93px;
}

.page-header__logosecondpart {
  font-family: 'Raleway';
  color: var(--main-text-color);
}

.page-header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  position: relative;
  transition: color var(--transition);
}

.page-header__contacts {
  margin-left: auto;
}

.page-header__item:not(:last-child),
.page-header__contact:not(:last-child) {
  margin-right: 50px;
}

.page-header__contactlink {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition);
}

.page-header__mail-icon,
.page-header__smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__link:hover,
.page-header__contactlink:hover,
.page-header__link:focus,
.page-header__contactlink:focus {
  color: var(--accent-text-color);
}

.page-header__link--current {
  color: var(--accent-text-color);
}

.page-header__link--current::after {
  display: flex;
  content: '';
  position: absolute;
  border-radius: 2px;
  background: var(--accent-text-color);
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0px;
}

/* --------------------------------- */

/* Описание стилей футера */

.page-footer__logosecondpart {
  color: var(--main-backgroung);
  font-family: 'Raleway';
}

.page-footer {
  background-color: var(--secondary-backgroung);
  padding: 60px 0px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer__contactslist {
  margin-top: 20px;
  font-style: normal;
}

.page-footer__contactstext {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}

.page-footer__contactsitem:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__contactstext:hover,
.page-footer__contactstext:focus {
  color: var(--main-backgroung);
}

.page-footer__contactstext--current {
  color: var(--main-backgroung);
}

.page-footer__contactsitem:hover,
.page-footer__contactsitem:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-backgroung);
  margin-left: 70px;
  margin-bottom: 20px;
}

.page-footer .socials__item {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .socials__list {
  margin: 0px 93px 0px 70px;
}

.page-footer .socials__instagram-icon,
.page-footer .socials__twitter-icon,
.page-footer .socials__facebook-icon,
.page-footer .socials__linkedin-icon {
  fill: var(--main-backgroung);
}

.page-footer .socials__link:hover,
.page-footer .socials__link:focus {
  background-color: var(--accent-text-color);
}

.page-footer__subscription {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-backgroung);
  margin: 0px 0px 20px 93px;
}

.subscription {
  display: flex;
}

.subscription__email {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: var(--secondary-backgroung);
  color: var(--main-backgroung);
}

.subscription__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-text-color);
  padding: 10px 29px;
  transition: background-color var(--transition);
  display: flex;
  color: var(--main-backgroung);
}

.subscription__send-icon {
  margin-left: 10px;
  fill: var(--main-backgroung);
}
/* ----------------------------------------- */

/* Описание стилей секции герой */

.hero {
  background-color: var(--secondary-backgroung);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: center;
  color: var(--main-backgroung);
  text-align: center;
  padding: 200px 0px;
  margin: 0 auto;
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-text-color);
  color: inherit;
  padding: 10px 32px;
  transition: background-color var(--transition);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-active);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-backgroung);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
  text-align: center;
}

.form__header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal__close {
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: border-color var(--transition), fill var(--transition);
}

.modal__close:hover,
.modal__close:focus,
.modal__close-icon:hover,
.modal__close-icon:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: flex;
}

.form__field {
  position: relative;
  display: block;
}

.form__icon {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 12px;
  transform: translateY(95%);
}

.form__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-text-color);
}

.form__field textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  resize: none;
}

.form__input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 12px 42px;
}

.agreement {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.agreement__icon {
  margin-right: 7px;
  fill: none;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: border-color var(--transition), background-color var(--transition),
    fill var(--transition);
}

.agreement__checkbox:checked ~ .agreement__icon {
  border: transparent;
  fill: var(--main-backgroung);
  background-color: var(--accent-text-color);
}

.agreement__link {
  color: var(--accent-text-color);
}

.modal__button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-text-color);
  color: var(--main-backgroung);
  padding: 10px 55px;
  transition: background-color var(--transition);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.agreement__button:hover,
.agreement__button:focus {
  background-color: var(--button-active);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* -------------------------------------------------- */

/* Описание стилей секции особенностей */

.qualities__list {
  display: flex;
  margin: -15px;
}

.qualities__item {
  margin: 15px;
  width: calc((100% -120px) / 4);
}

.qualities__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--light-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.qualities__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ---------------------------------- */

/* Описание стилей секции чем мы занимаемся */

.work {
  padding-top: 0px;
}

.work__header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  border: none;
}

.work__list {
  display: flex;
}

.work__example:not(:last-child) {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__label {
  color: var(--main-backgroung);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* --------------------------------- */

/* Описание стилей секции наша команда */

.team {
  background-color: var(--light-background);
  align-items: center;
}

.team__header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team__list {
  display: flex;
}

.member:not(:last-child) {
  margin-right: 30px;
}

.member {
  background-color: var(--main-backgroung);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.member__title {
  margin: 30px 0px 10px 0px;
  font-weight: 500;
}

.member__role {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.socials__list {
  display: flex;
  margin: 0px 32px 30px 32px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px 12px;
  color: var(--light-icons);
  border-radius: 50%;
  transition: background-color var(--transition), color var(--transition);
}

.socials__instagram-icon,
.socials__twitter-icon,
.socials__facebook-icon,
.socials__linkedin-icon {
  fill: currentColor;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-text-color);
  color: var(--main-backgroung);
}

/* ----------------------------------- */

/* Описание стилей секции клиентов */

.clients {
  text-align: center;
}

.clients__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}

.clients__link {
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  display: block;
  color: var(--light-icons);
  border: 1px solid var(--light-icons);
  border-radius: 4px;
  transition: color var(--transition), border-color var(--transition);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__icon {
  fill: currentColor;
}

/* ----------------------------------------- */

/* Фильтр на странице портфолио */

.portfolio__filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--light-background);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--main-backgroung);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button--active {
  color: var(--main-backgroung);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Описание стилей секции портфолио */

.portfolio__examples {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * 15px);
}

.portfolio__example {
  margin: 15px;
  background-color: var(--main-backgroung);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow var(--transition);
  overflow: hidden;
}

.portfolio__example:hover,
.portfolio__example:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card {
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

.portfolio__overlay {
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition);
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__example:hover .portfolio__overlay,
.portfolio__example:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__frame {
  position: relative;
  overflow: hidden;
}

.portfolio__img-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-backgroung);
}

/* ----------------------------------- */
